{% extends "templates/index.html"  %}

{% block contents %}
    <h1>Blog Platform</h1>
    <p>
     <a href = "{{ url|safe }}">{{ url_linktext }}</a>
    </p>
    <a href="/createblog">
    <p>CreateBlog</p>
    </a>
    <div id="content" style="background-color:#EEEEEE;float:left;">
    {% for blog in blogs %}  
      <h3><a href="/singleblog/{{blog.key().id()}}">{{blog.name}}</a></h3>
      <div>{{blog.created_time.strftime("%d %b %Y %H:%M:%S EST")}}</div>
      <div> 
      <pre>{{blog.description}}</pre>
     
      </div>
      <div>by {{blog.ownername}} </div>
    <hr>
    {% endfor %}
    </div>
{% endblock %}
