<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
    <h2>Post Blog</h2>
    
    {% for post in posts %}
      <div class="post">
        <div class="post-heading">
          <div class="post-title">{{post.title}}</div> 
          <div class="post-date">{{post.created_time}}</div>
        </div>
        <!--pre tag preserves the white space -->
        <pre class="post-content">{{post.content}}</pre>
      </div>
      <hr>
    {% endfor %}
    
    <form action="/sign" method="post">
      <div><input type="text" name="title"></div>
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="blogging"></div>
    </form>

    <hr>
  </body>
</html>
{% endautoescape %}
