<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link rel="alternate" type="application/rss+xml" href="/rss/{{blogkey}}" title="RSS">
    <title>OST Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/> 

  </head>
  <body>
    <div class="wrapper">
    <h1>MyBlog</h1>
    <div class="menu">
    <a href="/rss/{{blogkey}}">
      RSS
    </a>
    <p>
     <a href = "/post/{{blogkey}}">Post</a>
    </p>
    <a href="/">
    <p>Back_to_Bloglist</p>
    </a>
    </div>
    <div>All Tags:
      {% for tag in taglist %}
        <a href="/tag/{{tag.key()}}/{{blogkey}}"><span class="tag">{{tag.tag}}</span></a>
      {% endfor %}
    </div>  
    </div>
    {% for post in posts %}
    <div class="block">
        <div class="postHeader">
          <h3><a href="/singlepost/{{post.key()}}">{{post.title}}</a></h3>
          <div class="postDate">{{post.created_time.strftime("%d %b %Y %H:%M:%S EST")}}</div>
	</div>
	<div class="body"> 
	  {{post.content|truncate(500)}}
	</div>
        
        <div class="postFooter"> Tags:
        {% for tag in post.tagList() %}
            <a href="/tag/{{tag.key()}}/{{blogkey}}"><span class="tag">{{tag.tag}}</span></a>
        {% endfor %}
	</div>
   </div>
   {% endfor %}
   
    <div>
      {% if cursor %}
         <a href="?cursor={{cursor}}">Next Page</a>
      {% endif %}
    </div>
  </body>
</html>
{% endautoescape %}
