{% extends "templates/index.html" %}

{% block contents %}
  <h1>MyPost</h1>
  <a href="/singleblog/{{blogkey}}">
    <p>Back_to_BlogPage</p>
  </a>
  
  <a href="/editpost/{{postkey}}">
    <p>Edit this post/Add images</p>
  </a>

  <h3>{{post.title}}</h3>
  <div>{{post.created_time.strftime("%d %b %Y %H:%M:%S EST")}}</div>
  <div class="postcontent">{{post.contentFormat()|safe}}</div>
  <hr>
  <b>Comments:</b>
  {% for comment in post.comments %}
    <div> {{comment.author}}: </div>
    <div> {{comment.comment}} </div>
    <hr>
  {% endfor %}
  <b>Post Comments:</b>
  <form action="/comment/{{postkey}}" method="post" style="padding:0">
    <h2>author</h2>
    <p><input type="text" name="author" style="width:80px;"> </p>
    <h2>comment</h2>
    <p><input type="text" name="comment" style="width:280px;height:100px;"></p>
    <input type="submit" value="Submit" style="width:50px">
  </form>
{% endblock %}
