<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link rel="alternate" type="application/rss+xml" href="/rss/{{blogkey}}" title="RSS">
    <title>OST Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/> 

  </head>
  <body>
    <h1>MyBlog</h1>
    <a href="/rss/{{blogkey}}">
      RSS
    </a>
    <p>
     <a href = "/post/{{blogkey}}">Post</a>
    </p>
    <a href="/">
    <p>Back_to_Bloglist</p>
    </a>
    <div>All Tags:
      {% for tag in taglist %}
        <a href="/tag/{{tag.key()}}/{{blogkey}}"><span class="tag">{{tag.tag}}</span></a>
      {% endfor %}
    </div>  
   
    <div id="content" style="background-color:#EEEEEE;">
      {% for post in posts %}  
        <h3><a href="/singlepost/{{post.key()}}">{{post.title}}</a></h3>
        <div>{{post.created_time.strftime("%d %b %Y %H:%M:%S GMT")}}</div>
      
	<div> 
	  {{post.content|truncate(500)}}
	</div>
        
        <div class="entryFooter">Category:
        {% for tag in post.tagList() %}
            <a href="/tag/{{tag.key()}}/{{blogkey}}"><span class="tag">{{tag.tag}}</span></a>
        {% endfor %}
	</div>
     <hr>
     {% endfor %}
    </div>
    <div>
      {% if cursor %}
         <a href="?cursor={{cursor}}">Next Page</a>
      {% endif %}
    </div>
  </body>
</html>
{% endautoescape %}
