{% extends "templates/index.html"  %}

{% block contents %}
    <h1>MyBlog</h1>
    <p>
     <a href = "/post/{{blogkey}}">Post</a>
    </p>
    <a href="/">
    <p>Back_to_Bloglist</p>
    </a>
    
    <div>All Tags:
      {% for tag in taglist %}
        <a href="/tag/{{tag.key()}}/{{blogkey}}"><span class="tag">{{tag.tag}}</span></a>
      {% endfor %}
    </div>  

    <div id="content" style="background-color:#EEEEEE;">
      {% for post in posts %}  
        <h3><a href="/singlepost/{{post.key()}}">{{post.title}}</a></h3>
        <div>{{post.created_time.strftime("%d %b %Y %H:%M:%S GMT")}}</div>
      
	<div> 
	  {{post.content|truncate(500)}}
	</div>
        
        <div class="entryFooter">Category:
        {% for tag in post.tagList() %}
            <a href="/tag/{{tag.key()}}/{{blogkey}}"><span class="tag">{{tag.tag}}</span></a>
        {% endfor %}
	</div>
     <hr>
     {% endfor %}
    </div>
    <div>
      {% if cursor %}
         <a href="?cursor={{cursor}}">Next Page</a>
      {% endif %}
    </div>
{% endblock %}
